.sidebar {
  background-color: rgb(255, 255, 255);
  width: 72px;

  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgrey;
}

.sidebar-link img {
  width: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
